<h1>Admin Profile Page: <%=currentUser.firstname%></h1>

<div class="row">
    <div class="col s4">
        <img src="<%=currentUser.pic%>" alt="profile pic">
    </div>
    <div class="col s4">
        <p><strong>Name:</strong> <%= currentUser.firstname%> <%=currentUser.lastname%></p>
        <p><strong>Birthday:</strong> <%=moment(currentUser.birthday).format('MMM Do[,] YYYY')%></p>
        <p><strong>Account created on: </strong><%=moment(currentUser.createdAt).format('MMM Do[,] YYYY')%></p>
        <p><%=currentUser.bio%><p>
    </div>
    <div class="col s4">
        <p><strong>View User's Pages</strong></p>
        <% users.forEach(u => { %>
        <div>
            <a href="/profile/guest/<%u.id%>">
                <%=u.firstname%>
                <% if (currentUser.id == u.id) { %>
                (Hey it's you!)
                <% } %>
            </a>
        </div>
        <% }) %>
    </div>
</div>